{% extends 'base.html' %}

{% block content %}
<div>

    <div class="po_action" style="width:800px;">
    <div class="btn-group pull-left">
      <a href="?" class="btn btn-warning {% if not filter or filter==None %}active{% endif %}">All</a>
      <a href="?f=translated" class="btn btn-warning {% if filter=='translated' %}active{% endif %}">Translated</a>
      <a href="?f=untranslated" class="btn btn-warning {% if filter=='untranslated' %}active{% endif %}">Un-translated</a>
      <a href="?f=fuzzy" class="btn btn-warning {% if filter=='fuzzy' %}active{% endif %}">Fuzzy</a>
    </div>
    
    <input type="text" placeholder="Search for words..." id="quick-search" style="margin-left:20px;"/>
    <div class="btn-group pull-right">
      <a href="#" class="btn btn-success save"><i class="icon-hdd icon-white"></i> <strong>Save</strong></a>
      <a href="#" class="btn btn-success popclick" rel="popover" data-content="
      <a class='btn btn btn-block' href='{{ url_for('download', filename=filename) }}' target='_blank'>Original (.po/.pot) file</a>
      <a class='btn btn-primary btn-block' href='{{ url_for('download', filename=filename) }}?type=mo' target='_blank'>Compiled (.mo) file</a>
      " data-original-title="Download"><i class="icon-download-alt icon-white"></i> <strong>Download</strong></a>
    </div>
    </div>
    
    <div class="well well-small muted">
    <p class="text-error"><strong>Attention!</strong> please copy and save this link if you want to access it later</p>
    <input type="text" value="{{url_for('translate', _external=True, filename=filename)}}" class="input-block-level" readonly/>
    </div>

    <!-- Our flash message -->
    {% with messages = get_flashed_messages(category_filter=['success']) %}
    {% if messages %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {% for message in messages %}
          {{message}}
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <!-- End flash message -->
    
{% if entries %}
    
    {% if percentage >= 5 %}
    <div class="progress progress-success progress-striped">
        <div class="bar" style="width: {{percentage}}%;">{{percentage}}% translated</div>
    </div>
    {% endif %}
    
    <form name="poform" id="poform" action="" method="post">
    <input type="hidden" name="count" value="{{count}}" />
    <input type="hidden" name="filename" value="{{filename}}" />
{% for entry in entries %}
    <div class="well well-small msgitem">
    <!--<span class="label label-success pull-right">{{loop.index}}</span>-->
    <a href="#" class="pop pull-right" rel="popover" data-content="
    {% for occ in entry.occurrences %}
        #{{occ[0]}} : {{occ[1]}}<br />
    {% endfor %}
    " data-original-title="Occurrences" ><i class="icon icon-eye-open"></i></a>
    {% if entry.msgid_plural %} 
    <div class="alert alert-success msgid">{{entry.msgid}}<span class="label label-inverse pull-right">Singular</span></div>
    <input type="hidden" name="msgid_{{loop.index}}" value="{{entry.msgid}}"/>
    <textarea name="msgstr_{{loop.index}}" class="msgstr">{{entry.msgstr_plural['0']}}</textarea>
    
    <div class="alert alert-success msgid">{{entry.msgid_plural}}<span class="label label-inverse pull-right">Plural</span></div>
    <input type="hidden" name="msgid_plural_{{loop.index}}" value="{{entry.msgid_plural}}"/>
    <textarea name="msgstr_plural_{{loop.index}}" class="msgstr">{{entry.msgstr_plural['1']}}</textarea>
    {% else %}
    
    <div class="alert alert-success msgid">{{entry.msgid}}</div>
    <input type="hidden" name="msgid_{{loop.index}}" value="{{entry.msgid}}"/>
    <textarea name="msgstr_{{loop.index}}" class="msgstr">{{entry.msgstr}}</textarea>
    
    {% endif %}
    
    </div>
{% endfor %}
    </form>

{% else %}
<p class="muted">No translation available</p>
{% endif %}
</div>
{% endblock %}
